
<div class="col-md-6 col-md-offset-4">
  <h1>Registration Form</h1>
  <div class="well">
    <form action=""[formGroup]="myForm" (ngSubmit)="onSignup(myForm)">
  <label  for="">User Name:</label><input #name formControlName="username"class="form-control"type="text" #name name=""id="name"><br>
  <div *ngIf="myForm.controls['username'].hasError('required')&& myForm.controls['username'].touched" class="alert alert-danger">

  User name is Required
  </div>
  <label for="">Password:</label><input #pass formControlName="password"class="form-control" type="password"#password name="" id="password"><br>
  <div *ngIf="myForm.controls['password'].hasError('required')&& myForm.controls['password'].touched" class="alert alert-danger">
  password required

    </div>
    <div  class="alert alert-danger"*ngIf="myForm.controls['password'].hasError('minlength')&&myForm.controls['password'].touched">
 password should be min 8 chars
    </div>
    <div  class="alert alert-danger"*ngIf="myForm.controls['password'].hasError('maxlength')&&myForm.controls['password'].touched">
        password should be max 15 chars
           </div>
  <label for="">Email:</label><input #emailid formControlName="email" class="form-control"type="text" name="" id="email"><br>
  <div *ngIf="myForm.controls['email'].hasError('required')&& myForm.controls['email'].touched" class="alert alert-danger">
Email Required

    </div>
  <label for="">Mobile Number :</label><input #phone formControlName="mobile"class="form-control"type="number" name="" id="mob">
  <div *ngIf="myForm.controls['mobile'].hasError('required')&& myForm.controls['mobile'].touched" class="alert alert-danger">

  Mobile No. Required
    </div>
    <div *ngIf="myForm.controls['mobile'].hasError('minlength')&& myForm.controls['mobile'].touched" class="alert alert-danger">
   Mobile No.should be 10 digits  
    </div>
</form>  
</div>
   <button type="submit" [disabled]="!myForm.valid" (click)="addDetailsToService(name.value,pass.value,emailid.value)"class="btn btn-primary">Sign Up</button>
</div>